@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Piazzolla:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* position: relative; */
}

body {
	font-family: Fira Code, arial;
	background: #292B2E;
	color: #BABABA;
}

* {
  box-sizing: border-box;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.wrap > * {
  grid-column: 1 / 3;
}

.box {
	background: #43494D;
	border-radius: 5px;
}

.box1 {
	justify-content: center;
}

.box1, .box2 {
	display: flex;
	flex-direction: column;
	/* padding: 5rem; */
	align-items: center;
}

button {
	font-size: 2rem;
	padding: 0.8rem 1rem;
	margin: 2rem;
	font-family: Fira Code;
	border-radius: 5px;
	border: none;
	color: #BABABA;
	background: #292B2E;
}

button:hover {
	cursor: pointer;
	background: #2B343D;
	color: #D6D6D6;
	transition: 0.3s ease-in;
}

ol {
  padding: 1rem;
}

@media (max-width: 750px) {
	.img2 {
		grid-row: 4 / 4;
	}
}


ol {
	padding-left: 35px;
}

img {
  width: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.grid-image {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.0);
	font-size: 2rem;
}

.grid-image:hover {
	transition: 0.2s ease-in;
	color: #BABABA;
}

.grid-image {
  background-size: cover;
	background-position: center;
	border-radius: 5px;
}

header {
  display: grid;
  grid-gap: 0.5rem;
}

header > * {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

header h1 {
	font-family: Piazzolla;
	font-size: 2.8rem;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  max-width: inherit;
}

footer {
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 750px) {
	.wrap {
		height: 100vh;
	}

	header {
		grid-template-columns: 1fr 1fr;
	}

	main {
		grid-template-columns: 1fr 1fr;
	}
}

header ul li, a {
	text-decoration: none;
	list-style-type: none;
	font-size: 1.5rem;
	color: #4A8DDE;
}

li {
	font-size: 1.1rem;
}

ul li {
	list-style-type: none;
}

a:hover {
	border-bottom: 2px solid #68A6ED;
	font-weight: bold;
	color: #68A6ED;
}

.selected {
	font-weight: bolder;
	font-size: 1.8rem;
	color: #68A6ED;
}

#copied {
	position: absolute;
  z-index: 1;
	background: #7C808A;
	color: #fff;
	border-radius: 5px;
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 7rem;
	opacity: 0;
	font-size: 2rem;
  transition: opacity 0.3s ease-out;
}

#copied.show, #triangle.show {
	opacity: 0.8;
  transition: opacity 0.3s ease-in;
}

#triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
	border-top: 30px solid #7C808A;
	margin-left: 50px;
}