---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { render } from "astro:content"
import { getCollection } from "astro:content"
import PostLayout from "../../layouts/PostLayout.astro"
import PostItem from '../../components/PostItem.astro';

export const prerender = true

  let posts = await getCollection("posts")
  posts = posts.sort((a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime())
---


<BaseLayout title="Blogposts">
    <h1 class="page-header">Bibliography (Posts)</h1>
    <div class="posts">
        {posts.map((post) => (
            <PostItem {post}/>
        ))}
    </div>
</BaseLayout>

<style>
    .posts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
</style>