---
import { type Languages, useTranslations } from '../../ts/i18n';
import { getCollection } from "astro:content"
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostItem from '../../components/composite/PostItem.astro';

const lang = (Astro.cookies.get('language')?.value ?? 'en') as Languages
const t = useTranslations(lang)

let posts = await getCollection("posts")
posts = posts.sort((a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime())
---


<BaseLayout title="Blogposts">
    <h1 class="page-header col-fill row-1">{t('title.posts')}</h1>
    <div class="posts col-fill row-full grid-list">
        {posts.map((post) => (
            <PostItem {post}/>
        ))}
    </div>
</BaseLayout>

<style>
    .posts {
        overflow-y: auto;
    }
</style>