* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #000920;
  --darker: #11192a;
  --dark: #233357;
  --dark-light: #182028;
  --dark-lighter: #172042;
  --dark-lightest: #3e5e88;
  --header-shade: #fbfafb;
  --text-shade: #cdcddc;
  --code-shade: #b6b6ce;
  --text-disabled: #7e7e92;
  --accent: #cc9dfa;
  --accent-dark: #9063b8;

  --accent: #6189f6;
  --accent-light: #8aa7fc;

  --base-unit: 12px;
  --space-xxs: calc(0.25 * var(--base-unit)); /* 4px */
  --space-xs: calc(0.5 * var(--base-unit)); /* 8px */
  --space-sm: calc(0.75 * var(--base-unit)); /* 12px */
  --space-base: calc(1 * var(--base-unit)); /* 16px */
  --space-bsm: calc(1.125 * var(--base-unit)); /* 18px */
  --space-md: calc(1.25 * var(--base-unit)); /* 20px */
  --space-dlg: calc(1.5 * var(--base-unit)); /* 24px */
  --space-mlg: calc(1.75 * var(--base-unit)); /* 28px */
  --space-lg: calc(2 * var(--base-unit)); /* 32px */
  --space-xl: calc(2.5 * var(--base-unit)); /* 40px */
  --space-xxl: calc(3.25 * var(--base-unit)); /* 52px */
  --space-xxxl: calc(5.25 * var(--base-unit)); /* 84px */

  --font-size-body: var(--space-base);
  --font-size-subheading: var(--space-md);
  --font-size-heading: var(--space-dlg);
  --font-size-subtitle: var(--space-lg);
  --font-size-title: var(--space-xl);

  --size-icon: 16px;

  --font-body: Menlo, "SF Mono", Monaco, Consolas, "Liberation Mono", monospace;
  --font-header: OhSnap, Futura, "Century Gothic", AppleGothic, sans-serif;
  --font-code: var(--font-body);
  --font-logo: EagleSpCGA;
  --font-bold: ChiKareGo2;
}

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"), local("Menlo-Regular"),
    url("Menlo.woff2") format("woff2");
}

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: bold;
  src: local("Menlo Bold"), local("Menlo-Bold"),
    url("MenloBold.woff2") format("woff2");
}

@font-face {
  font-family: "Menlo";
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"), local("Menlo-Italic"),
    url("MenloItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Menlo";
  font-style: italic;
  font-weight: bold;
  src: local("Menlo Bold Italic"), local("Menlo-BoldItalic"),
    url("MenloBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "OhSnap";
  src: url("/fonts/Ohsnap.ttf");
}

@font-face {
  font-family: "OhSnap";
  font-weight: bold;
  src: url("/fonts/OhsnapBold.ttf");
}

@font-face {
  font-family: "EagleSpCGA";
  src: url("/fonts/EagleSpCGA_Alt2.ttf");
}

body {
  height: 100%;

  font-size: var(--font-size-body);
  font-family: var(--font-body);

  color: var(--text-shade);

  background: var(--black);
  background-image: linear-gradient(var(--darker), var(--black));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
  color: var(--header-shade);
}

h1 {
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-subtitle);
  margin-bottom: var(--space-xs);
}

h3 {
  font-size: var(--font-size-heading);
}

h4 {
  font-size: var(--font-size-subheading);
}

p {
  color: var(--text-shade);
  line-height: 1.45;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a.active {
  color: var(--accent);
}

.flex-container > * {
  flex-grow: 1;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: var(--space-dlg);
  font-family: var(--font-header);
  margin-top: var(--space-sm);
}

.date-icon {
  width: var(--size-icon);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  vertical-align: top;
}

.title {
  margin-bottom: var(--space-xs);
}

.page-header {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-size: var(--space-lg);
  color: var(--accent);
  text-decoration-line: underline;
  text-underline-offset: 6px;
  margin-bottom: var(--space-mlg);
}

.flex {
  display: flex;
  gap: var(--space-sm);
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hover-slide {
  cursor: pointer;
  transition: all 0.08s ease-in-out;

  &:hover {
    border-right: 4px solid var(--accent);
    border-bottom: 4px solid var(--accent);
    padding: 0 var(--space-base) var(--space-base) 0;
    margin-bottom: calc(var(--gap-item) - var(--space-md));

    .title {
      color: var(--accent);
    }
  }
}

.back-button {
	margin-bottom: var(--space-base);
}

body > .logo-header {
	padding: var(--space-lg);
}

article {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding: var(--space-md);
	margin: 0 auto;
}

.dual-images {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  overflow-x: auto;
  margin-bottom: var(--space-lg);
}

@media screen and (max-width: 600px) {
  article {
		width: 100%;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 600px) {
  :root {
    --base-unit: 14px;
    --size-icon: 20px;
  }

  .page-header {
    margin-bottom: var(--space-lg);
  }

  .item-list {
    align-items: flex-end;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --base-unit: 16px;
  }
}