* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-primary: #6189f6;
  --color-primary-light: #81a0ff;
  --color-secondary: #b38ef4;
  --color-secondary-dark: #9063b8;
  --color-tertiary: #fd8282;

  --color-background: #000920;
  --color-background-alt: #11192a;
  --color-surface: #182028;
  --color-surface-1: #1c2736;
  --color-surface-2: #172042;
  --color-surface-3: #233357;
  --color-surface-4: #3e5e88;
  --color-border-light: var(--color-surface-4);
  
  --color-text-heading: #fbfafb;
  --color-text-body: #cdcddc;
  --color-text-code: #b6b6ce;
  --color-text-subtle: #9a9ab3;
  --color-text-disabled: #7e7e92;
  --color-text-inverted: var(--color-background-alt);
  --color-text-link: var(--color-primary);
  --color-text-link-hover: var(--color-primary-light);
  --color-netlify: #05bdba;

  --space-unit: 14px;
  --space-xxs: calc(0.25 * var(--space-unit)); /* 4px */
  --space-xs: calc(0.5 * var(--space-unit)); /* 8px */
  --space-sm: calc(0.75 * var(--space-unit)); /* 12px */
  --space-base: calc(1 * var(--space-unit)); /* 16px */
  --space-bsm: calc(1.125 * var(--space-unit)); /* 18px */
  --space-md: calc(1.25 * var(--space-unit)); /* 20px */
  --space-dlg: calc(1.5 * var(--space-unit)); /* 24px */
  --space-mlg: calc(1.75 * var(--space-unit)); /* 28px */
  --space-lg: calc(2 * var(--space-unit)); /* 32px */
  --space-xl: calc(2.5 * var(--space-unit)); /* 40px */
  --space-xxl: calc(3.25 * var(--space-unit)); /* 52px */
  --space-xxxl: calc(5.25 * var(--space-unit)); /* 84px */

  --font-size-body: var(--space-base);
  --font-size-subheading: var(--space-md);
  --font-size-heading: var(--space-dlg);
  --font-size-subtitle: var(--space-lg);
  --font-size-title: var(--space-xl);
  
  --size-icon: 20px;
  --size-icon-small: 16px;
  
  --font-family-body-serif: "Argent Pixel CF", serif;
  --font-family-body: Menlo, "SF Mono", Monaco, Consolas, "Liberation Mono", monospace, "Arundina Mono";
  --font-family-header: OhSnap, Futura, "Century Gothic", AppleGothic, "B2 Sign April", sans-serif;
  --font-family-code: var(--font-family-body);
  --font-family-logo: EagleSpCGA;
  --font-family-bold: ChiKareGo2;
}

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"), local("Menlo-Regular"),
    url("Menlo.woff2") format("woff2");
}
@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: bold;
  src: local("Menlo Bold"), local("Menlo-Bold"),
    url("MenloBold.woff2") format("woff2");
}
@font-face {
  font-family: "Menlo";
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"), local("Menlo-Italic"),
    url("MenloItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Menlo";
  font-style: italic;
  font-weight: bold;
  src: local("Menlo Bold Italic"), local("Menlo-BoldItalic"),
    url("MenloBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "OhSnap";
  src: url("/fonts/Ohsnap.ttf");
}
@font-face {
  font-family: "OhSnap";
  font-weight: bold;
  src: url("/fonts/OhsnapBold.ttf");
}

@font-face {
  font-family: "Argent Pixel CF";
  src: url("/fonts/ArgentPixelCF-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "EagleSpCGA";
  src: url("/fonts/EagleSpCGA_Alt2.ttf");
}

@font-face {
  font-family: "Arundina Mono";
  src: url("/fonts/Arundinamono.ttf");
  size-adjust: 155%;
}
@font-face {
  font-family: "Arundina Mono";
  font-style: italic;
  src: url("/fonts/Arundinamoit.ttf");
  size-adjust: 155%;
  font-feature-settings: "c2sc", "smcp";
}
@font-face {
  font-family: "Arundina Mono";
  font-weight: bold;
  src: url("/fonts/Arundinamobd.ttf");
  size-adjust: 155%;
}
@font-face {
  font-family: "Arundina Mono";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Arundinamobi.ttf");
  size-adjust: 155%;
}

@font-face {
  font-family: "B2 Sign April";
  src: url("/fonts/B2 SIGN April Thin.ttf");
  size-adjust: 130%;
}

body {
  height: 100%;

  font-size: var(--font-size-body);
  font-family: var(--font-family-body);

  color: var(--color-text-body);

  background: var(--color-background);
  background-image: linear-gradient(var(--color-background-alt), var(--color-background));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body:has(img.expanded) {
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-header);
  color: var(--color-text-heading);
}

h1 {
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-subtitle);
  margin-bottom: var(--space-xs);
}

h3 {
  font-size: var(--font-size-heading);
}

h4 {
  font-size: var(--font-size-subheading);
}

p, em {
  color: var(--color-text-body);
  line-height: 1.45;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a.active {
  color: var(--color-text-link);
}


article a, a.link {
	background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 2px;
	transition: all 0.125s ease-in;
  padding-bottom: 2px;
}

article a:hover, a.link:hover {
	color: var(--color-background);
	background-size: 4px 50px;
}

.flex-container > * {
  flex-grow: 1;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.img-icon {
  width: var(--size-icon);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  object-fit: contain;
  align-self: flex-end;
}

.title {
  margin-bottom: var(--space-xs);
}

.page-header {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-size: var(--space-lg);
  color: var(--color-primary);
  text-decoration-line: underline;
  text-underline-offset: 6px;
  margin-bottom: var(--space-mlg);
}

.flex {
  display: flex;
  gap: var(--space-sm);
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.hover-slide {
  cursor: pointer;
  transition: all 0.08s ease-in-out;

  &:hover {
    border-right: 4px solid var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
    padding: 0 var(--space-base) var(--space-base) 0;
    margin-bottom: calc(var(--gap-item) - var(--space-md));

    .title, time, strong {
      color: var(--color-secondary) !important;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.back-button {
	margin-bottom: var(--space-base);
}

body > .logo-header {
	padding: var(--space-lg);
}

article {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.icon svg {
  width: var(--size-icon);
  height: var(--size-icon);
  fill: var(--color-text-code);
}

.dual-images {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  overflow-x: auto;
  margin-bottom: var(--space-lg);
}

.layout.lang-th {
  h1, h2, h3, h4, button, nav a {
    line-height: 1.05;
  }
}

body.contrast, body:has(#set-high-contrast) {
  --color-primary: #00D4FF;
  --color-primary-light: #66E5FF;
  --color-secondary: #FF6BFF;
  --color-secondary-dark: #E533E5;
  --color-tertiary: #FF5555;

  --color-background: #000;
  --color-background-alt: #0a0a0a;
  --color-surface: #111;
  --color-surface-1: #171717;
  --color-surface-2: #1d1d1d;
  --color-surface-3: #242424;
  --color-surface-4: #333;
  --color-border-light: #555;
  
  --color-text-heading: #fff;
  --color-text-body: #fff;
  --color-text-code: #f0f0f0;
  --color-text-subtle: #ccc;
  --color-text-disabled: #999;
  --color-text-inverted: var(--color-background-alt);
  --color-text-link: var(--color-primary);
  --color-text-link-hover: var(--color-primary-light);
  --color-netlify: #22fffb;
}

@media screen and (max-width: 600px) {
  header#site-header, header.logo-header {
    padding-bottom: 0 !important;
  }

  article {
		width: 100%;
		flex-wrap: wrap;
    padding: var(--space-lg);
	}

  .tags {
    flex-wrap: wrap;
  }

  .hover-slide {
    &:hover {
      border-right: none;
      border-left: 4px solid var(--color-primary);
      padding-left: var(--space-base);
    }
  }
}

@media screen and (min-width: 600px) {
  :root {
    --size-icon: 20px;
  }

  .page-header {
    margin-bottom: var(--space-lg);
  }

  .item-list {
    align-items: flex-end;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --space-unit: 16px;
  }
}