.post-header {
	position: relative;
	display: flex;
	justify-content: flex-start;
	gap: var(--space-md);
	padding: var(--space-md) 0;
	margin-bottom: var(--space-md);
}

.post-header .title {
	font-size: var(--space-xl);
}

.post-header .hero-image {
	position: absolute;
	width: 100%;
	max-height: 75%;
	object-fit: contain;
	z-index: -1;
	top: 0;
}

.text-block {
	width: 100%;
	background: linear-gradient(180deg, var(--darker) 50%, rgba(0,0,0,0) 100%);
	opacity: 0.9;
	padding-top: var(--space-lg);
	padding-bottom: var(--space-base);
	margin-top: 50%;
	margin-bottom: var(--space-dlg);
}

.text-block::after {
	position: absolute;
	bottom: 0px;
	content: '_________';
	color: rgba(0,0,0,0);
	border-top: 3.5px solid var(--accent);
}

.content p, .content li, .content a {
	font-size: var(--space-bsm);
}

.content h2, .content h3, .content h4, .content h5 {
	margin-top: var(--space-md);
	padding-bottom: var(--space-sm);
}

.content h1:first-of-type , .content h2:first-of-type  { margin-top: 0;}

.content {
	width: 100%;
	line-height: 1.5;
}

.content img {
	display: block;
	max-width: 100%;
	padding: var(--space-md);
	margin: 0 auto;
}

img + em {
	display: block;
	text-align: center;
	color: var(--code-shade);
	padding-bottom: var(--space-dlg);
	margin-top: -0.5rem;
}

a {
	background: linear-gradient(to bottom, var(--accent) 0%, var(--accent) 100%);
	padding-bottom: 3px;
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 2px;
	text-decoration: none;
	transition: all 0.125s ease-in;
}

a:hover{
	color: var(--black);
	background-size: 4px 50px;
}

.description {
	font-size: var(--space-bsm);
}

.date {
	color: var(--accent);
}

.date.updated {
	margin-top: var(--space-xs);
	font-style: italic;
}

.content > p {padding-bottom: var(--space-base);}
li { padding-bottom: var(--space-xs); }
li p { padding-bottom: var(--space-xxs);}

pre {
	padding: var(--space-base);
	margin: var(--space-base) 0 var(--space-lg) 0;
	overflow-x: scroll;
	font-family: var(--font-code);
}

code {
	font-size: var(--space-base);
	letter-spacing: -0.3px;
	line-height: 1.5;
	padding: var(--space-xxs) var(--space-xs);
}

blockquote {
	background: var(--dark-lighter);
	padding: var(--space-base);
	border-left: var(--space-xs) solid var(--dark);
	margin-bottom: var(--space-dlg);
}
blockquote p {
	padding: 0;
}

@media screen and (max-width: 600px) {
	.post-header {
		padding: 0;
	}
}
