.project-article {
    p {
        font-size: var(--space-size-bsm);
    }
}

.project-header {
    .title {
        font-size: calc(var(--font-size-title)*1.25);
    }
    
    .description {
        font-style: italic;
        margin-bottom: var(--space-size-lg);
    }
    
    .dates {
        display: flex;
        align-items: center;
        gap: var(--space-size-sm);
        margin-bottom: var(--space-size-base);

        .date {
            margin-top: 0;
            color: var(--color-primary);
        }
    }

    .hero-image {
        width: 100%;
        margin-bottom: var(--space-size-sm);
    }

    .project-url {
        text-align: center;
        margin-bottom: var(--space-size-lg);
    }

    .project-url .unreleased {
        font-style: italic;
        color: var(--color-text-disabled);
        text-decoration: line-through;
    }
}