:root {
  --font-family-body-serif: "Argent Pixel CF", serif;
  --font-family-body: Menlo, "SF Mono", Monaco, Consolas, "Liberation Mono", monospace, "Arundina Mono";
  --font-family-heading: OhSnap, Futura, "Century Gothic", AppleGothic, "B2 Sign April", sans-serif;
  --font-family-code: var(--font-family-body);
  --font-family-logo: EagleSpCGA;
}

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"), local("Menlo-Regular"),
    url("Menlo.woff2") format("woff2");
}
@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: bold;
  src: local("Menlo Bold"), local("Menlo-Bold"),
    url("MenloBold.woff2") format("woff2");
}
@font-face {
  font-family: "Menlo";
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"), local("Menlo-Italic"),
    url("MenloItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Menlo";
  font-style: italic;
  font-weight: bold;
  src: local("Menlo Bold Italic"), local("Menlo-BoldItalic"),
    url("MenloBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "OhSnap";
  src: url("/fonts/Ohsnap.ttf");
}
@font-face {
  font-family: "OhSnap";
  font-weight: bold;
  src: url("/fonts/OhsnapBold.ttf");
}

@font-face {
  font-family: "Argent Pixel CF";
  src: url("/fonts/ArgentPixelCF-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "EagleSpCGA";
  src: url("/fonts/EagleSpCGA_Alt2.ttf");
}

@font-face {
  font-family: "Arundina Mono";
  src: url("/fonts/Arundinamono.ttf");
  size-adjust: 155%;
}
@font-face {
  font-family: "Arundina Mono";
  font-style: italic;
  src: url("/fonts/Arundinamoit.ttf");
  size-adjust: 155%;
}
@font-face {
  font-family: "Arundina Mono";
  font-weight: bold;
  src: url("/fonts/Arundinamobd.ttf");
  size-adjust: 155%;
}
@font-face {
  font-family: "Arundina Mono";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Arundinamobi.ttf");
  size-adjust: 155%;
}

@font-face {
  font-family: "B2 Sign April";
  src: url("/fonts/B2 SIGN April Thin.ttf");
  size-adjust: 130%;
}