<header class="logo-header col-fill">
  <a href="/">
    <h1 class="title">OrangeBurrito</h1>
    <p class="slogan large">the <span id="spice">spice</span> must flow</p>
  </a>
</header>

<style>
  .logo-header {
    transition: transform var(--transition-slow);

    .title {
      /* font-family: var(--font-family-logo); */
      /* font-size: var(--font-size-headline); */
      text-transform: uppercase;
	    margin-bottom: 0;
    }

    .slogan {
      color: var(--color-secondary);
      font-weight: 500;
      transition: color var(--transition-slow);
    }

    &:hover {
      .slogan {
        color: var(--color-text-lik);
      }
    }
  }

  :global(body.retro .logo-header) {
    font-family: var(--font-family-retro);
  } 

  @media screen and (max-width: 600px) {
    .logo-header {
      .title {
        font-size: var(--font-size-subtitle);
      }

      .slogan {
        font-size: var(--font-size-subtitle);
      }
    }
  }
</style>
