---
import PostLayout2 from "@layouts/PostLayout2.astro"
import { getCollection, render } from "astro:content"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<PostLayout2 title={post.data.title}>
  <main>
    <h1>{post.data.title}</h1>
    <Content />
  </main>
</PostLayout2>
