---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostItem from '../components/PostItem.astro'

export function getStaticPaths({paginate}) {
	const allPosts = Astro.fetchContent('./posts/*.md')
	const sortedPosts = allPosts.sort((a, b) => new Date(b.publishedDate).valueOf() - new Date(a.publishedDate).valueOf());
  return paginate(sortedPosts, {pageSize: 5});
}

const {page} = Astro.props
---

<BaseLayout title="OrangeBurrito">
<h1 class="posts-header">The Sacred Texts</h1>
<div class="post-list">
{page.data.map((post) => (
	<PostItem {post}/>
))}
</div>
</BaseLayout>

<style>
	.posts-header {
		position: relative;
		display: inline-block;
		font-weight: normal;
		font-size: var(--space-lg);
		color: var(--accent);
		padding-bottom: var(--space-xxs);
		margin-bottom: var(--space-xxl);
		border-bottom: 3.5px solid var(--accent);
	}
</style>