---
import Icon from '../components/Icon.svelte'
import BaseLayout from '../layouts/BaseLayout.astro'
import CurrentlyReading from '../components/CurrentlyReading.svelte'
import { useTranslations, type Languages } from '../ts/i18n.ts'

const currentLang: Languages = (Astro.cookies.get('language')?.value ?? 'en') as Languages
const t = useTranslations(currentLang)
---

<BaseLayout title="About">
	<Fragment slot="corner">
		<CurrentlyReading client:load />
	</Fragment>

	<div class="about-strip">
		<div class="content">
			<h1 class="page-header">About</h1>
			<div class="profile">
				<div class="text">
					<h2>Orange<br>Burrito</h2>
					<em>Typography enthusiast</em>
				</div>
				<img class="profile" src="/images/pfp.jpg" alt="the mysterious visage of this website's proprietor">
			</div>
			<p>I'm a programmer, which, while unfortunate, is slightly abated by an enthusiasm for good visual design.</p>
			<p>This site is my personal glob of hex-code-complaint paint on the internet. It serves as a blog, job portfolio and—in future—my digital mausoleum.</p>
			<div class="list">
				<h3>Correspondence</h3>
				<div class="icon-text">
					<Icon icon="mail" />
					<a href="mailto:root@orangeburrito.com">root@orangeburrito.com</a>
				</div>
				<div class="icon-text">
					<Icon icon="github" />
					<a href="https://github.com/OrangeBurrito/website" target="_blank">GitHub <Icon icon="external-link"/></a>
				</div>
				<div class="icon-text">
					<Icon icon="book" />
					<a href="https://app.thestorygraph.com/profile/orangeburrito" target="_blank">StoryGraph <Icon icon="external-link"/></a>
				</div>
				<div class="icon-text">
					<Icon icon="paint-bucket" />
					<a href="https://userstyles.world/user/orangeburrito" target="_blank">Userstyles <Icon icon="external-link"/></a>
				</div>
			</div>
			<div class="metadata">
				<p>Source code hosted on <a href="https://github.com/OrangeBurrito" target="_blank">GitHub</a></p>
				<p>Deployed with <span style="color: var(--color-netlify)">Netlify <img class="img-icon" src="/icons/netlify.png" alt="Netlify Logo"></span></p>
				<p class="copyright">Copyright © OrangeBurrito {new Date().getFullYear()}</p>
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	.page-header {
		margin-bottom: var(--space-xs);
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: var(--space-xs);
		margin: var(--space-sm) 0;
	}

	a {
		border-bottom: 2px solid var(--color-text-link);
	}

	.about-strip {
		width: fit-content;
		height: calc(100% - var(--space-lg));
		float: right;
		text-align: left;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: var(--color-surface-2);
		background-clip: padding-box;
		padding: var(--space-base) var(--space-dlg);
		border: 4px solid transparent;
		outline: 16px solid var(--color-surface-2);
		margin: var(--space-base);

		.content {
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: var(--space-sm);
			width: 30ch;
	
			.profile {
				display: grid;
				grid-template-columns: 1fr auto;
				gap: var(--space-base);
				margin-bottom: var(--space-xxs);
	
				img {
					width: 100%;
					height: 112px;
				}

				h2 {
					margin-top: -2.5px;
				}
			}

			.metadata {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				flex-grow: 1;

				p {
					color: var(--color-text-code);
					margin-bottom: var(--space-xxs);
				}
			}

			.copyright {
				margin-top: var(--space-xxs);
				font-style: italic;
			}
		}
	}

	
	@media screen and (max-width: 600px) {
		.about-strip {
			height: fit-content;
			width: calc(100% - var(--space-lg));
			float: none;
			
			.content {
				width: 100%;
				align-items: flex-start;
				margin-bottom: 0;

				.profile img {
					width: auto;
					margin: 0 auto;
				}
			}
			
			.list {
				align-items: flex-start;
			}
		}

		.about-strip .profile {
			display: block;
			width: 100%;
  			text-align: center;

			br { display: none;}

			.text {
				margin-bottom: var(--space-sm);
			}
		}
	}
</style>
