---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About">
	<h1 class="page-main-header">Confidentiality Agreement: Void</h1>
	<h1 class="title">Dossier: OrangeBurrito</h1>
	<p>Typography enthusiast, full of bees.</p>
	<p>This blog is a TERF.</p>
	<div class="coolbg"/>
	<div class="links">
		<a href="https://github.com/OrangeBurrito" target="_blank"><span>GitHub</span> (Fountain of truth)</a>
		<a href="https://app.thestorygraph.com/profile/orangeburrito" target="_blank"><span>Storygraph</span> (Goodreads clone account)</a>
	</div>
</BaseLayout>

<style>
	.page-main-header {
		margin-bottom: var(--space-base);
	}

	.title {
		font-size: var(--space-xl);
		margin-bottom: var(--space-dlg);
	}

	p {
		font-size: var(--space-dlg);
		margin-bottom: var(--space-xxs);
	}

	.links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: var(--space-xs);
		margin-top: var(--space-xxl);
	}

	a {
		font-size: var(--space-dlg);
		border-bottom: 2px solid var(--accent);
	}

	span {
		color: var(--accent-light);
	}
</style>