---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About">
	<h1>About:</h1>
	<p>
		Nothing much to note here.
	</p>
	<a href="https://github.com/OrangeBurrito">My GitHub</a>
</BaseLayout>

<style>
	p {
		font-size: var(--space-mlg);
	}
</style>