---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About">
	<h1 class="page-header">About</h1>
	<h2>Dossier: OrangeBurrito</h2>
	<p>Typography enthusiast, full of bees.</p>
	<p>Under active construction: be wary of falling beams.</p>
	<div class="links">
		<h3>Other URLs</h3>
		<a href="https://github.com/OrangeBurrito" target="_blank"><span>GitHub</span> (Fountain of truth)</a>
		<a href="https://app.thestorygraph.com/profile/orangeburrito" target="_blank"><span>Storygraph</span> (Goodreads clone account)</a>
	</div>
</BaseLayout>

<style>
	p {
		margin-bottom: var(--space-xxs);
	}

	.links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: var(--space-xs);
		margin-top: var(--space-xxl);
	}

	a {
		border-bottom: 2px solid var(--accent);
	}

	span {
		color: var(--accent-light);
	}

	@media screen and (max-width: 600px) {
		.links {
			align-items: flex-start;
		}
	}
</style>