---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About">
	<h1>About:</h1>
	<p>
		Nothing much to note here.
	</p>
	<div class="coolbg"/>
	<a href="https://github.com/OrangeBurrito">My GitHub</a>
</BaseLayout>

<style>
	p {
		font-size: var(--space-mlg);
	}

	.coolbg {
		width: 250px;
		height: 200px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgf/OWOiAAAAAElFTkSuQmCC')
	}
</style>