---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostItem from '../components/composite/PostItem.astro'
import ProjectItem from '../components/composite/ProjectItem.astro'
import Button from '../components/base/Button.svelte'
import CurrentlyReading from '../components/composite/CurrentlyReading.svelte'
import { getCollection } from 'astro:content';
import { type Languages, useTranslations } from '../ts/i18n';

const currentLang: Languages = (Astro.cookies.get('language')?.value ?? 'en') as Languages
const t = useTranslations(currentLang)

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
).slice(0, 4)

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
).slice(0, 4)
---

<BaseLayout title="OrangeBurrito" homepage>
<Fragment slot="corner">
	<CurrentlyReading client:load />
</Fragment>

<div class="posts subgrid auto-fill rows-half">
	<h2 class="page-header">Latest Posts</h2>
	<div class="grid-list">
		{posts.map((post) => (
			<PostItem {post} />
		))}
	</div>
</div>
<div class="projects subgrid auto-fill rows-half">
	<h2 class="page-header">Selected Projects</h2>
	<div class="grid-list">
		{projects.map((project) => (
			<ProjectItem {project} />
		))}
	</div>
</div>
</BaseLayout>