---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostItem from '../components/PostItem.astro'
import Button from '../components/Button.svelte'
import CurrentlyReading from '../components/CurrentlyReading.svelte'
import { getCollection } from 'astro:content';
import { type Languages, useTranslations } from '../ts/i18n';

const currentLang: Languages = (Astro.cookies.get('language')?.value ?? 'en') as Languages
const t = useTranslations(currentLang)

const posts = (await getCollection('posts')).sort(
	(a, b) => new Date(b.data.publishedDate).valueOf() - new Date(a.data.publishedDate).valueOf()
).slice(0, 4)
---

<BaseLayout title="OrangeBurrito">
<Fragment slot="corner">
	<CurrentlyReading client:load />
</Fragment>

<h1 class="page-header">{t('title.home')}</h1>
	<div class="item-list">
		{posts.map((post) => (
			<PostItem {post} />
		))}
	</div>
	<Button link="/posts">{t('button.seeAllPosts')}</Button>
</BaseLayout>
