---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostItem from '../components/composite/PostItem.astro'
import ProjectItem from '../components/composite/ProjectItem.svelte'
import Button from '../components/base/Button.svelte'
import CurrentlyReading from '../components/composite/CurrentlyReading.svelte'
import { getCollection } from 'astro:content';
import { type Languages, useTranslations } from '../ts/i18n';

const currentLang: Languages = (Astro.cookies.get('language')?.value ?? 'en') as Languages
const t = useTranslations(currentLang)

const posts = (await getCollection('posts')).sort(
	(a, b) => new Date(b.data.publishedDate).valueOf() - new Date(a.data.publishedDate).valueOf()
).slice(0, 4)

const projects = (await getCollection('projects')).sort(
	(a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf()
).slice(0, 4)
---

<BaseLayout title="OrangeBurrito" homepage>
<Fragment slot="corner">
	<CurrentlyReading client:load />
</Fragment>

<div class="container-y fill">
	<div class="posts">
		<h2>Latest Posts</h2>
		<div class="grid-list">
			{posts.map((post) => (
				<PostItem {post} />
			))}
		</div>
	</div>
	<div class="projects">
		<h2>Selected Projects</h2>
		<div class="grid-list">
			{projects.map((project) => (
				<ProjectItem {project} />
			))}
		</div>
	</div>
	<Button link="/posts">{t('button.seeAllPosts')}</Button>
</div>
</BaseLayout>

<style>
	.grid-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
</style>