---
import BaseLayout from '../layouts/BaseLayout.astro'
import PostItem from '../components/PostItem.astro'
import Button from '../components/Button.svelte'
import CurrentlyReading from '../components/CurrentlyReading.svelte'
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => new Date(b.data.publishedDate).valueOf() - new Date(a.data.publishedDate).valueOf()
).slice(0, 4)
---

<BaseLayout title="OrangeBurrito">
<Fragment slot="corner">
	<CurrentlyReading client:load />
	<!-- <CurrentlyReading client:load/> -->
</Fragment>

<h1 class="page-header">Contemporary Texts</h1>
	<div class="item-list">
		{posts.map((post) => (
			<PostItem {post} />
		))}
	</div>
	<Button link="/posts">See All Posts ></Button>
</BaseLayout>
