---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import PostItem from '../components/composite/PostItem.svelte'
import ProjectItem from '../components/composite/ProjectItem.svelte'
import Date from '../components/base/Date.svelte'
import CurrentlyReading from '../components/composite/CurrentlyReading.svelte'
import Icon from '../components/base/Icon.svelte'
import Image from '../components/base/Image.svelte'
import SiteMetadata from '../components/composite/SiteMetadata.svelte'

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
).slice(0, 4)

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
).slice(0, 4)
---

<BaseLayout title="Home">
  <div class="page-motif">
    <Image src="/images/motifs/home.png" alt="" />
  </div>
  <div class="posts subgrid col-4 row-4">
    <div class="col-4 row-1 flex between baseline offset-col-half-right">
      <h2 class="baseline">Latest Posts</h2>
      <div class="heading-divider"></div>
      <a class="button-link baseline" href="/posts">All Posts ></a>
    </div>
    <div class="grid-cols-half col-full row-fill">
      {posts.map((post) => (
        <PostItem {post} />
      ))}
    </div>
  </div>
  <div class="metadata subgrid col-1 row-4">
    <SiteMetadata client:load />
  </div>
  <div class="projects subgrid row-4">
    <div class="spacer col-1 row-full"></div>
    <div class="col-4 row-1 flex between baseline">
      <h2 class="baseline">Selected Projects</h2>
      <div class="heading-divider"></div>
      <a class="button-link baseline" href="/projects">All Projects ></a>
    </div>
    <div class="grid-cols-half col-4 row-fill">
      {projects.map((project) => (
        <ProjectItem {project} />
      ))}
    </div>
  </div>
  <Fragment slot="sidebar">
     <div class="col-2 row-full flex vertical end-y">
      <div class="col-full row-1 flex baseline">
          <h3 class="subtle flex">
            <Icon icon="book" />
            Currently Reading
          </h3>
        </div>
      <CurrentlyReading large client:load />
    </div>
  </Fragment>
</BaseLayout>

<style>
  .page-motif {
    top: 20%;
    left: 14%;
  }

  .projects .grid-cols-half {
    gap: var(--gap-grid-y) 40px;
  }

  @media (max-width: 600px) {
    .metadata {
      display: none;
    }

    .page-motif {
      display: none;
    }
  }
</style>