---
import BaseLayout from '../layouts/BaseLayout.astro'
import ProjectItem from '../components/ProjectItem.svelte'
import { getCollection } from 'astro:content'

const projects = (await getCollection('projects')).sort(
	(a, b) => {
		if (!a.data.endDate) return 1;
		if (!b.data.endDate) return -1;
		return new Date(a.data.endDate).valueOf() - new Date(b.data.endDate).valueOf();
	}
)
---

<BaseLayout title="Projects">
    <h1 class="page-header">Projects</h1>
    <div class="projects item-list">
        {projects.map((project) => (
            <ProjectItem {project} />
        ))}
        </div>
</BaseLayout>