---
import BaseLayout from '../layouts/BaseLayout.astro'
import ProjectItem from '../components/ProjectItem.svelte'
import { getCollection } from 'astro:content'
import { useTranslations, type Languages } from '../ts/i18n.ts'

const currentLang: Languages = (Astro.cookies.get('language')?.value ?? 'en') as Languages
const t = useTranslations(currentLang)

const allProjects = await getCollection('projects')
const projects = allProjects.sort(
	(a, b) => {
		if (!!a.data.client !== !!b.data.client) {
			return a.data.client ? -1 : 1;
		}
		if (!a.data.endDate) return 1;
		if (!b.data.endDate) return -1;
		return new Date(a.data.endDate).valueOf() - new Date(b.data.endDate).valueOf();
	}
)
---

<BaseLayout title="Projects">
    <h1 class="page-header">{t('title.projects')}</h1>
    <div class="projects item-list">
        {projects.map((project) => (
            <ProjectItem {project} />
        ))}
        </div>
</BaseLayout>