---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Projects">
    <h1 class="page-header">Projects</h1>
    <div class="projects">
        <div class="project">
            <div class="cover-image">
                <img src="/images/arabonito.png" alt="">
            </div>
            <h3>Arabonito</h3>
            <p class="sub">for Arajet under <a href="https://huagati.com" target="_blank">Huagati Systems</a></p>
            <p>Figma Design and implementation in Blazor (Frontend)</p>
            <div class="links">
                <a href="">Figma Design</a>
                <a href="https://arabonito.arajet.com/"  target="_blank">Live Site</a>
            </div>
        </div>
    </div>
</BaseLayout>