---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Resources">
	<h1 class="page-main-header">Resources</h1>
	<h2>Userstyles</h2>
	<p>
		<a href="https://userstyles.world/user/orangeburrito">My Userstyles</a>
	</p>
</BaseLayout>