---
type Props = {
    date: Date | string
    short?: boolean
    locale?: string
}

const { date, short, locale } = Astro.props as Props

const options: Intl.DateTimeFormatOptions = short 
    ? { year: 'numeric', month: 'short' }
    : { year: 'numeric', month: 'long', day: 'numeric' }

const localDate = date instanceof Date
    ? date
    : new globalThis.Date(date)

let autoLocale = Astro.cookies.get('language')?.value == 'th'
    ? 'th-TH'
    : 'en-US'
---

<div class="date">
    <time datetime={date as string}>{localDate.toLocaleDateString(locale ?? autoLocale, options)}</time>
</div>

<style>
    .date {
        font-size: var(--font-size-label);
        font-weight: 500;
        text-transform: uppercase;
        color: var(--color-secondary-light);
    }
    
    :global(body.retro .date) {
        display: inline-block;
        font-size: var(--font-size-subtitle);
        font-family: var(--font-family-heading);
        text-transform: none;
        line-height: 0;
        color: var(--color-primary);
        margin-top: var(--space-300);
    }
</style>