---
type Props = {
    date: string
    short?: boolean
    locale?: string
}

const { date, short, locale } = Astro.props as Props

const options = short 
  ? { year: 'numeric', month: 'short' }
  : { year: 'numeric', month: 'long', day: 'numeric' }

const localDate = new Date(date)

let autoLocale = Astro.cookies.get('language')?.value == 'th' ? 'th-TH' : 'en-US'
---

<div class="date">
    <time datetime={date}>{localDate.toLocaleDateString(locale ?? autoLocale, options)}</time>
</div>

<style>
    .date {
        display: inline-block;
        font-size: var(--space-dlg);
        font-family: var(--font-family-header);
        line-height: 0;
        color: var(--color-primary);
        margin-top: var(--space-dlg);
    }
</style>