---
type Props = {
    date: string
    monthOnly?: boolean 
}

const { date, monthOnly } = Astro.props as Props

const options = monthOnly 
  ? { month: 'short' }
  : { year: 'numeric', month: 'long', day: 'numeric' }

const localDate = new Date(date)

let locale = Astro.cookies.get('language')?.value == 'th' ? 'th-TH' : 'en-US'
---

<div class="date">
{monthOnly ? (
    <>
    {localDate.toLocaleDateString(locale, {month: 'short'})} {localDate.getFullYear()}
    </>
) : (
    <time datetime={date}>{localDate.toLocaleDateString(locale, options)}</time>
)}
</div>

<style>
    .date {
        display: inline-block;
        font-size: var(--space-dlg);
        font-family: var(--font-family-header);
        line-height: 0;
        color: var(--color-primary);
        margin-top: var(--space-dlg);

    }
</style>