<header class="logo-header">
	<a href="/">
		<h1 class="logo-title">OrangeBurrito</h1>
		<h2 class="slogan">the spice must flow</h2>
	</a>
</header>

<style>
	.logo-title {
		font-family: var(--logo-font);
		font-size: clamp(var(--space-mlg), 4vw, var(--space-xl));
		text-transform: uppercase;
	}

	.slogan {
		color: var(--accent);
		font-size: clamp(var(--space-md), 4vw, var(--space-md);
	}
</style>