<header class="logo-header">
	<a href="/">
		<h1 class="logo-title">OrangeBurrito</h1>
		<h2 class="slogan">the spice must flow</h2>
	</a>
</header>

<style>
	.logo-title {
		font-family: var(--font-logo);
		font-size: var(--space-xl);
		text-transform: uppercase;
	}

	.slogan {
		color: var(--accent);
		font-size: var(--space-lg);
	}

	@media screen and (max-width: 600px) {
		.logo-title {
			font-size: var(--space-xl);
		}

		.slogan {
			font-size: var(--space-lg);
		}
	} 
</style>