<header class="logo-header">
  <a href="/">
    <h1 class="title">OrangeBurrito</h1>
    <h2 class="slogan">the spice must flow</h2>
  </a>
</header>

<style>
  .logo-header {
    margin-bottom: var(--space-size-dlg);

    .title {
      font-family: var(--font-family-logo);
      font-size: var(--space-size-xl);
      text-transform: uppercase;
	  margin-bottom: 0;
    }

    .slogan {
      color: var(--color-text-link);
      font-size: var(--space-size-lg);
    }
  }

  @media screen and (max-width: 600px) {
    .logo-header {
      .title {
        font-size: var(--space-size-xl);
      }

      .slogan {
        font-size: var(--space-size-lg);
        margin-bottom: var(--space-size-dlg);
      }
    }
  }
</style>
