---
let active = ''
---

<nav>
	<a id="index" href="/">Homepage</a>
	<a id="projects" href="/a">Projects</a>
	<a id="resources" href="">Resources</a>
	<a id="about" href="/about">About</a>
</nav>

<style>
	a {
		display: block;
	}
</style>