---
import { getCollection } from "astro:content"
import ProjectItem from "../../components/composite/ProjectItem.svelte"
import Icon from "../../components/base/Icon.svelte"
import Legend from "../../components/base/Legend.svelte"
import { softwareTagColors } from "../../ts/types"
import BaseLayout from "../../layouts/BaseLayout.astro"
import type { Page } from "astro"
import Image from "../../components/base/Image.svelte"

export const prerender = true

type Props = {
  page: Page<any>;
}

export async function getStaticPaths({ paginate }) {
  const projects = (await getCollection("projects")).sort((a, b) => {
    if (!!a.data.client !== !!b.data.client) {
      return a.data.client ? -1 : 1
    }
    if (!a.data.endDate) return 1
    if (!b.data.endDate) return -1
    return new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf()
  })

  return paginate(projects, { pageSize: 4 })
}

const { page } = Astro.props
---

<BaseLayout title="Projects">
  <div class="col-full row-1 flex baseline gap-small">
    <h1 class="baseline">Projects</h1>
    <p class="large baseline"><strong>{page.total}</strong> projects</p>
  </div>
  <div class="col-full row-fill flex vertical gap-large">
    <div class="projects grid-cols-half grid-rows-half fill-y">
      {((page as any).data || []).map((project: any) => (
        <ProjectItem {project} large />
      ))}
    </div>
    <div class="flex baseline">
      <a class={`button-link baseline ${page.url.prev ? '' : 'disabled'}`} href={page.url.prev}>&lt; Previous</a>
      <div class="heading-divider"></div>
      <a class={`button-link baseline ${page.url.next ? '' : 'disabled'}`} href={page.url.next}>Next ></a>
    </div>
  </div>
  <div class="page-motif">
    <Image src="/images/motifs/projects.png" alt="" />
  </div>
   <Fragment slot="sidebar">
    <div class="col-2 row-full flex vertical end-y">
      <h3 class="subtle flex">
          <Icon icon="map" />
          Project Legend
        </h3>
      <div class="container sidebar">
        <div class="container flex vertical gap-small">
          <h5>Software Used</h5>
          <Legend color={softwareTagColors["dotnet"]}>C# (.NET)</Legend>
          <Legend color={softwareTagColors["blazor"]}>Blazor</Legend>
          <Legend color={softwareTagColors["svelte"]}>SvelteKit</Legend>
          <Legend color={softwareTagColors["javascript"]}>JavaScript</Legend>
          <Legend color={softwareTagColors["figma"]}>Figma</Legend>
          <Legend color={softwareTagColors["docker"]}>Docker</Legend>
        </div>
      </div>
    </div>
  </Fragment>
</BaseLayout>

<style>
  .page-motif {
    transform: rotate(90deg);
    width: 33%;
    top: 40%;
    left: 8%;
  }

  .projects {
    gap: var(--gap-grid-y) calc(64px + var(--space-300));
  }

  @media screen and (max-width: 600px) {
    .projects {
      gap: var(--space-500);
      margin-bottom: var(--space-100);
    }

    .page-motif {
      transform: none;
      margin-top: var(--space-200);
    }
  }
</style>