---
import "../styles/global.css"
import NavBar from '../components/composite/NavBar.svelte'
import SiteHeader from '../components/composite/SiteHeader.svelte'

type Props = {
  title: string;
}

const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <div id="root" class="root-grid">
      <header class="subgrid col-3 row-3">
        <SiteHeader client:load />
        <NavBar currentPath={Astro.url.pathname} lang="en" client:load />
      </header>
      <main class="subgrid col-5 row-full">
        <slot />
      </main>
      <aside class="subgrid col-3 row-5">
        <slot name="sidebar" />
      </aside>
    </div>
  </body>
</html>

<style>
  @media screen and (max-width: 600px) {
    aside {
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
</style>